.impowerBox .qrcode {
    width: 100px;
}

.impowerBox .title {
    display: none;
}

.impowerBox .info {
    width: 100px;
}

.status_icon {
    display: none;
}

.impowerBox .status {
    text-align: center;
}